*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f5f7f6;
}
/* Navigatin barcss */
.navbar{
    position: fixed;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    background-color: white;
    z-index: 2;
}
.nav-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
}
.icons{
    height: 20px;
    margin-left: 20px;
}
.nav-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    width: 600px;
    height: 30px;
}
#btn{
    width: 70px;
    height: 30px;
}
#btn .icons{
    height: 15px;
    margin: 0;
}
.nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

/*Main css*/
.main{
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-template-columns: 70% 30%;
    margin-top: 50px;
    z-index: 1;
}
.video{
    width: 100%;
    height: 100%;
}
.youtube-frame{
    width: 95%;
    height: 500px;
    margin: 20px auto 20px 45px;
}
iframe{
    width: 95%;
    height: 500px;
}
.video-title{
    margin: auto auto auto 45px;
    width: 91%;
}
.hash-tag{
    text-decoration: none;
    font-size: 12px;
}
.title{
    font-size: 20px;
}
.btns{
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: space-between;
    align-items: center;
    width: 91%;
    margin: 10px auto auto 45px;
    height: 40px;    
}
.btns-link{
    text-decoration: none;
    font-size: 17px;
    color: black;
}
.btns-link .icons{
    height: 17px;
    margin-left: 17px;
}
hr{
    width: 96%;
}
.video-info{
    width: 95%;
    margin: 10px auto auto 45px;
}
.uploader{
    display: grid;
    grid-template-columns: 10% 70% 20%;
    align-items: center;
}
.uploader .icons{
    height: 50px;
}
.uploader-name{
    font-weight: bold;
}
.uploader-name a{
    text-decoration: none;
    color: black;
}
.subscribe-btn{
    width: 130px;
    height: 40px;
    background-color: #BF0000;
    color: white;
    border: none;
    font-weight: bold;
}
.subscribe-btn{
    cursor: pointer;
}
.desc{
    margin: 10px auto 10px 90px;
    width: 60%;
}
.desc p{
    font-size: 14px;
}
.related-links{
    display: flex;
    justify-content: space-between;
    margin: 20px auto auto 90px;
    width: 86%;
    align-items: center;
}
.link{
    background-color: #C5C6D0;
    width: 350px;
    height: 90px;
}
.link img{
    height: 90px;
    margin: 0;
    padding: 0;
}
.link img[alt="gaming"]{
    border-radius: 100%;
    padding: 10px;
    height: 70px;
}
.link a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.link a p{
    margin-left: 10px;
}
.link a:nth-child(1){
    color: black;
    font-weight: normal;
}
.show-more{
    margin: 20px auto auto 90px;
}
.show-more a{
    text-decoration: none;
    color: #4c4c4c;
    font-size: 15px;
    font-weight: bold;
}
.comments{
    margin: 20px auto auto 45px;
    width: 91%;
}
.comment-num{
    display: flex;
    align-self: center;
}
.comment-num a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.user-comment{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-top: 15px;
}
.user-comment .icons{
    height: 40px;
}
.user-comment input{
    width: 91%;
    height: 30px;
    background-color: f5f7f6;
    border: none;
    border-bottom: 1px solid black;
    margin-left: 5px;
}

.user-commented{
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 20px auto auto auto;
}
.user-pic .icons{
    height: 40px;
}
.comment{
    font-size: 15px;
}
.comment a{
    text-decoration: none;
}
.uploaed-time{
    font-size: 13px;
    color: gray;
}
.uploaed-time:hover{
    color: black;
}
.user-name a{
    color: black;
    font-weight: bold;
}
.user-name{
    margin-bottom: 3px;
}
.read-more{
    color: gray;
    font-weight: bold;
}
.read-more:hover{
    text-decoration: underline;
}
.like-dislike a{
    color: gray;
    font-size: 15px;
    margin-left: -20px;
}
.comment .icons{
    height: 14px;
}
.replies{
    color: #1338be;
    font-weight: bold;
    margin-left: -20px;
}

/*Next css*/
.next{
    width: 100%;
    height: 100%;
}
